.header {
  .navbar {
    .settings {
    }
  }
}

.settings__activate {
  &:focus + .settings__list {
    max-height: 100px;
  }
}
.settings__list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
  top: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  width: 100px;
}

.set-role__button:focus + .set-role__buttons {
  display: block;
}

.radial-progress {
  height: var(--size);
  width: var(--size);
  vertical-align: middle;
  box-sizing: content-box;
  --value: 0;
  --size: 5rem;
  --thickness: calc(var(--size) / 10);
  border-radius: 9999px;
  place-content: center;
  display: inline-grid;
  position: relative;

  color: rgb(79, 70, 229);
  border: none;
  &::before,
  &::after {
    content: '';
    border-radius: 9999px;
    position: absolute;
  }
  &::before {
    background: radial-gradient(farthest-side, currentColor 98%, #0000) top/var(--thickness)
        var(--thickness) no-repeat,
      conic-gradient(currentColor calc(var(--value) * 1%), #0000 0);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--thickness)),
      #000 calc(100% - var(--thickness))
    );
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--thickness)),
      #000 calc(100% - var(--thickness))
    );
    mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--thickness)),
      #000 calc(100% - var(--thickness))
    );
    inset: 0;
  }
  &::after {
    transform: rotate(calc(var(--value) * 3.6deg - 90deg)) translate(calc(var(--size) / 2 - 57%));
    inset: calc(50% - var(--thickness) / 2);
    background-color: currentColor;
  }
}

.adduser-button {
  max-width: 97px;
}

.adduser__icon {
  max-width: 48px;
}

.header__chaptre {
  display: flex;
  align-items: center;
  cursor: pointer;
  .chapter__title {
    margin-right: 15px;
  }
  .strelka-bottom-1 {
    width: 18px;
    margin-left: auto;
  }
}

.collapse {
  overflow: hidden;
  li {
  }
}

.modal {
  .course__users {
  }
}

.create-lesson-header {
  max-width: 650px;
  width: 100%;
  margin: auto;
}

.paragraph {
  &__h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
  }
  &__text {
    font-size: 18px;
  }
  &__table {
    th {
      font-weight: bold;
      padding: 5px;
      background: #efefef;
      border: 1px solid #dddddd;
    }
    td {
      border: 1px solid #dddddd;
      padding: 5px;
    }
  }

  &__list {
    padding-left: 20px;
    li {
      list-style-type: disc;
      font-size: 18px;
    }
  }
  &__code {
    overflow: hidden;
    padding: 15px;
    border-radius: 10px;
    background: #2b2b2b;
    .title {
      color: #fff;
    }
    .codeInnter {
      margin-top: 15px;
    }
  }
  &__html {
    & > div {
      overflow: hidden;
      padding: 15px;

      .title {
        font-weight: 600;
      }
      .codeInnter {
        margin-top: 15px;
      }
    }
    .innerFalse {
      border-radius: 10px 0 0 10px;
      background: #2b2b2b;
      .title {
        color: #fff;
      }
    }
    .innerTrue {
      border-radius: 0 10px 10px 0;
      -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    }
  }
}

.header__chaptre {
  transition: 0.2s;
  background-color: #efefef;
  padding: 10px 15px;
}

.accordion-collapse {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 0 40px;
  li {
    list-style-type: decimal;
  }
}
